---
title: 首页
description: The latest app to help you find new friends with common interests.
image: /images/home/hero.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">AI修图</h1>
			<p class="subtext editable">通过人工智能，深度学习算法帮助影楼，图片后期处理等企业快速、批量修图。2.0 版本现已上线，快来和我们一起迈向未来！</p>
			<div class="cta button alt"><a href="#">下载试用</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">了解更多<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">无需转档<br/>直接导入原图</h2>
				<p class="editable">支持主流相机原始图片格式，无需手动转档，直接导入，智能校正，省时高效，客人立等可“选片”！</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">全自动智能修图<br/>修图大师爱不释手</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">全智能美型美体<br/>变换出质感皮肤</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">马上行动</h2>
				<p class="subtext editable">新用户注册送免费修图资格，回馈老用户更有充值优惠福利。</p>
				<div class="cta button alt"><a href="#">免费下载</a></div>
			</div>
		</div>
	</section>
</div>
